* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #14213d;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: #14213d;
    gap: 20px;
}
#iframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.circle {
    height: 225px;
    width: 225px;
    border: 1px solid black;
    border-radius: 50%;
    float: right;
    overflow: hidden;
    margin: 2px;
}
.container{
    margin:auto;
    height: 80vh;
    width: 80vw;
    border: 5px solid black;
    display: flex;
}
.circle img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.banner{
    width: 100vw;
    height: 50vh;
    display: flex;
    padding-top: 60px;
    background-color: #2b2d42;
    font-size: 30px;
}
.nav {
    background-color: black;
    height: 8%;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.nav a.left {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.nav a.right {
    float: right;
    color: #f2f2f2;
    padding: 14px 16px;
}
.nav a:hover {
    background-color: #e5e5e5;
    color: black;
    transition: ease 1s;
}
.nav a:active {
    background-color: #e5e5e5;
    color: black;
}
.fa {
    padding: 20px;
    margin-top: 2px;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
}
.top-nav .fit {
    margin: 2px;
    overflow: hidden;
}

.about,
.works,
.contacts {
    display: flex;
    overflow: hidden;
    justify-content: center;
}
#parentgcon {
    height: 95%;
}
#Gcon {
    height: 100%;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: auto auto auto;
}
#card {
    height: 80vh;
    width: 80vw;
    margin: auto;
    border-radius: 25px;
    transition: ease 2s;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 2px 4px gray;
    background-color: #ffffff;
    overflow: hidden;
}
#work-top {
    height: 80%;
    width: 100%;
    overflow: hidden;
}
#work-bot {
    height: 20%;
    width: 100%;
    overflow: hidden;
    background-color: #03071e;
    justify-content: center;
    text-align: center;
}
#work-bot p{
    margin-top: 30px;
    color: #98c1d9;
}
#work-bot p:hover{
    color: white;
}
@media only screen and (max-width: 767px) {
    section {
        display: flex;
        height: 100vh;
        flex-direction: row;
    }

    .nav {
        height: auto;
        text-align: center;
    }

    .nav a {
        float: none;
        display: inline-block;
    }

    #Gcon {
        grid-template-columns: auto;
    }

    #card {
        height: 80vh;
        width: 80vw;
    }
    .banner{
        height: 50vh;
        width: 100vw;
        padding-top: 60px;
        font-size: 20px;
    }
}
