* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #14213d;
    overflow: hidden;
}

img {
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
    position: relative;
}

section {
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: #14213d;
    gap: 20px;
    border: 2px solid black;
}
#iframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.circle {
    height: 30%;
    width: 30%;
    border: 1px solid black;
    border-radius: 50%;
    float: right;
    overflow: hidden;
}
.container{
    margin:auto;
    height: 80vh;
    width: 80vw;
    border: 5px solid black;
    display: flex;
}

.circle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.welcome {
    width: auto;
    height: auto;
    margin: 10px;
    display: flex;
    padding-top: 10%;
}

.nav {
    background-color: black;
    height: 8%;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav a.left {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a.right {
    float: right;
    color: #f2f2f2;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: #e5e5e5;
    color: black;
    transition: ease 1s;
}

.nav a:active {
    background-color: #e5e5e5;
    color: black;
}

.fa {
    padding: 20px;
    margin-top: 2px;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
}

.top-nav .fit {
    margin: 2px;
    overflow: hidden;
}

.about,
.works,
.contacts {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#parentgcon {
    height: 95%;
}

#Gcon {
    height: 100%;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#card {
    height: 80vh;
    width: 80vw;
    margin: auto;
    border-radius: 25px;
    transition: ease 2s;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 2px 4px gray;
    background-color: #fca311;
    overflow: hidden;
}

#card:hover {
    background-color: #e85d04;
    opacity: 90%;
    transition: ease 2s;
}

#thumbnail {
    height: 50%;
    width: 100%;
    background-color: #14213d;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    section {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .nav {
        height: auto;
        text-align: center;
    }

    .nav a {
        float: none;
        display: inline-block;
    }

    #Gcon {
        grid-template-columns: auto;
    }

    #card {
        width: 90vw;
    }
}
